<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
   <script>

</script>
   <style>
 .button {
    border-radius: 2px;
}

.button a {
 
    border: 10px solid #122658;
    border-radius: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #ffffff; 
    text-decoration: none;
    font-weight: bold;
   
}
  .images {
    width:40%
    }

       img {
    border-radius: 18px ;width:200px ;height:200px
    }

   

.button2 {background-color: #122658;}
   </style>
<!-- If you delete this meta tag, Half Life 3 will never be released.-->
<!-- Template by marcosilva.co.uk, base on Zurb responsive templates and boiler plate, images and copy from http://www.hardgraft.com/ -->
<meta name="viewport" content="width=device-width"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Wealzy notification </title>
<link rel="stylesheet" type="text/css" href="email.css"/>
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body  width="100%" style="margin: 0; padding: 0 !important; mso-line-height-rule: exactly;"   >
 <table class="m_3339505860650449687main" width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#F2F2F2">
   <tbody>
      <tr>
         <td class="m_3339505860650449687outer-box" bgcolor="#F2F2F2" align="center" style="padding:0 8px">
            <table class="m_3339505860650449687width-550 m_3339505860650449687br-24" style="max-width:550px;border-radius:24px" width="100%" bgcolor="#FFFFFF" cellpadding="0" cellspacing="0" border="0">
               <tbody>
                  <tr>
                     <td class="m_3339505860650449687content-box" style="padding-bottom:24px!important">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0">
                           <tbody>
                              <tr>
                                 <td>
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                       <tbody>
                                          <tr>
                                             <td>
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                   <tbody>
                                                      <tr>
                                                         <td style="padding-bottom:24px">
                                                            <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                               <tbody>
                                                                <tr>
                                                                  <td >
                                                                        <h1 class="m_3339505860650449687j-9" align="center" style="font-size:40px;line-height:36px;font-weight:bold;color:#122658;Margin:0">Wealzy</h1>
                                                                  </td>
                                                               </tr>
                                                                <tr>
                                                                     <td>
                                                                        <h3 class="m_3339505860650449687j-9" align="center" > Critère de recherche {{user}} :</h2>{{type}}, {{surface}} , {{prix_bien}} , {{nbe_piece}}  </h2>
                                                                     </td>
                                                                  </tr>
                                                               </tbody>
                                                            </table>
                                                         </td>
                                                      </tr>
                                                      <tr>
                                                         <td style="font-size:1px;Margin:0;border-bottom:6px solid  #2DDBF9"> &nbsp; </td>
                                                      </tr>
                                                   </tbody>
                                                </table>
                                             </td>
                                          </tr>
                                       </tbody>
                                    </table>
                                 </td>
                              </tr>
                           </tbody>
                        </table>
                     </td>
                  </tr>
                  <tr>
                     <td class="m_3339505860650449687content-box" style="padding-top:0!important">
                        <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color:#f5f5f5;">
                           <tbody>
                              <tr>
                                 <td>
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                       <tbody>
                                          <tr>
                                             <td>
                                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                   <tbody>
                                                     {{#each bien}}
                                                      <tr>
                                                         <td class="m_3339505860650449687j-c" style="padding:0px 0px 0px">
                                                          <td class="card" style="padding:8px; margin:10px; display:flex;justify-content:space-around;align-items:start ;background-color:#fff;  border-radius: 18px;
                                                          ">
                                                            <div  >
                                                             <img src="{{this.url_photo.[0]}}" width="100%" height="100%" alt="alt_text" border="0" style="width: 100%; max-width: 600px; height: 100%; background: #dddddd; font-family: sans-serif; font-size: 15px; line-height: 15px; color: #555555; display: block;" >
                                                            </div>
                                                            <td class="content" style="width:60%" >
                                                              <table>
                                                                <tr>
                                                                  <td>
                                                              <h1 style="margin-bottom: 0px;color:#122658;"> {{this.type_bien_corrige}}</h1>
                                                            </td>
                                                            </tr>
                                                            <tr>
                                                              <td style="font:14px/20px;font-weight:400;color:#000000;padding:0px 0px 4px"> <span style="font-size:16px;line-height:20px;font-weight:500;color:#2d2d2d">{{nom_commune}}</span> <span style="color:#767676">{{this.code_postal}} </span> </td>
                                                        </tr>
                                                        <tr>
                                                          <td style="font-size:1px;Margin:0;border-bottom:1px solid  #2DDBF9; width:100%"> &nbsp; </td>
                                                        </tr>
                                                        <tr>
                                                          <td style="font:14px/20px;font-weight:400;color:#000000;padding:0px 0px 4px"><span style="color:#767676;font-size:16px">surface : </span> <span style="font-size:16px;line-height:20px;font-weight:500;color:#2d2d2d">{{this.surface}} m<sup>2</sup></span>  </td>
                                                          <td style="font:14px/20px;font-weight:400;color:#000000;padding:0px 0px 4px"> <span style="color:#767676;font-size:16px">piéce(s)  :</span> <span style="font-size:16px;line-height:20px;font-weight:500;color:#2d2d2d">{{this.nbe_piece}}</span> </td>
                                                    </tr>
                                                    <tr>
                                                      <td style="font:14px/20px;font-weight:400;color:#000000;padding:0px 0px 4px"> <span style="color:#767676;font-size:16px">prix :</span> <span style="font-size:16px;line-height:20px;font-weight:500;color:#2d2d2d">{{this.prix_bien}} €</span> </td>

                                                             <tr>
                                                      <td style="font:14px/20px;font-weight:400;color:#000000;padding:0px 0px 4px"> <span style="color:#767676;font-size:16px">date :</span> <span style="font-size:16px;line-height:20px;font-weight:500;color:#2d2d2d">{{this.date_maj}} </span> </td>
                                                      {{!-- <td>
                                                        <a href="https://application.wealzy.com/in/annonce/List-annonces-non-inves/detail/{{this._id}}" style=" background-color: #122658;
                                                        padding:10px;
                                                        color: white;
                                                        text-decoration: none;
                                                        text-transform: uppercase;
                                                        border-radius:10%">Consulter</a>
                                                      </td> --}}
                             <table width="100%" cellspacing="0" cellpadding="0">
  <tr>
      <div style="text-align: -webkit-center;">
          <table cellspacing="0" cellpadding="0">
              <tr>
                  <td class="button" bgcolor="#122658" >
                      <a  class="link" href="https://application.wealzy.com/in/annonce/List-annonces-non-inves/detail/{{this._id}}" target="_blank">
                          Consulter            
                      </a>
                  </td>
              </tr>
          </table>
      </div>
  </tr>
</table>
                                                </tr>
                                                            </table>
                                                            </td>
                                                            <div>
                                                         </td>
                                                      </tr>
                                                        {{/each}}
                                                   </tbody>
                                                </table>
                                         

                       
             {{!-- <a href="https://application.wealzy.com/in/annonce/List-annonces-non-inves/" style=" background-color: #122658;
                                                        padding:10px;
                                                        color: white;
                                                        text-decoration: none;
                                                        text-transform: uppercase;
                                                        border-radius:10%">Afficher les annonces</a> --}}

       
                                                  
                                          </tr>
                                       </tbody>

                                    </table>
                                 </td>
                              </tr>
                                                                          <div style="text-align: center;">
                                                  <p style="font-size: 14px; font-weight: bold; color: #2D2D2D; Margin: 0;">
                                                     {{newbien}} nouvelles annonces trouvées</p>
                                              </div>
                                                <br/>
                                                 <br/>
<table width="100%" cellspacing="0" cellpadding="0">
  <tr>
      <div style="text-align: -webkit-center;">
          <table cellspacing="0" cellpadding="0">
              <tr>
                  <td class="button" bgcolor="#122658" >
                      <a  class="link" href="https://application.wealzy.com/in/annonce/List-annonces-non-inves-critere/{{usern}}" target="_blank">
                          Afficher les annonces             
                      </a>
                  </td>
              </tr>
          </table>
      </div>
  </tr>
</table>
  <br/>
   <br/>
                           </tbody>
                        </table>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>
</body>
</html>
